.MoneySummary {
  display: grid;
  grid-template-columns: 1fr auto;
  grid-column-gap: var(--x-spacing-base);
  grid-template-areas: 'label value';
  align-items: center;
  padding: var(--x-money-summary-block-padding)
    var(--x-money-summary-inline-padding);
}

.Label {
  grid-area: label;
}

.Value {
  grid-area: value;
}

.inlineAlignmentEnd {
  grid-template-columns: 1fr 1fr;
  justify-items: end;
}

.inlineAlignmentStart {
  grid-template-columns: 1fr 1fr;
  justify-items: start;
}

.inlineAlignmentToAxis {
  grid-template-columns: 1fr 1fr;

  & .Label {
    justify-self: end;
  }

  & .Value {
    justify-self: start;
  }
}

.backgroundSurfacePrimary {
  --x-default-color-subdued: var(--x-color-surface-primary-subdued);
  --x-default-color-text: var(--x-color-surface-primary-text);
  --x-default-color-text-subdued: var(--x-color-surface-primary-text-subdued);
  --x-default-color-text-emphasized: var(
    --x-color-surface-primary-text-emphasized
  );
  background-color: var(--x-color-surface-primary);
  color: var(--x-default-color-text);
}

.backgroundSurfaceSecondary {
  --x-default-color-subdued: var(--x-color-surface-secondary-subdued);
  --x-default-color-text: var(--x-color-surface-secondary-text);
  --x-default-color-text-subdued: var(--x-color-surface-secondary-text-subdued);
  --x-default-color-text-emphasized: var(
    --x-color-surface-secondary-text-emphasized
  );
  background-color: var(--x-color-surface-secondary);
  color: var(--x-default-color-text);
}

.backgroundSurfaceTertiary {
  --x-default-color-subdued: var(--x-color-surface-tertiary-subdued);
  --x-default-color-text: var(--x-color-surface-tertiary-text);
  --x-default-color-text-subdued: var(--x-color-surface-tertiary-text-subdued);
  --x-default-color-text-emphasized: var(
    --x-color-surface-tertiary-text-emphasized
  );
  background-color: var(--x-color-surface-tertiary);
  color: var(--x-default-color-text);
}
