.inlinePaddingExtraTight {
  padding-inline-start: var(--x-spacing-tight4x);
  padding-inline-end: var(--x-spacing-tight4x);
}

.inlinePaddingTight {
  padding-inline-start: var(--x-spacing-tight1x);
  padding-inline-end: var(--x-spacing-tight1x);
}

.inlinePaddingBase {
  padding-inline-start: var(--x-spacing-base);
  padding-inline-end: var(--x-spacing-base);
}

.inlinePaddingLoose {
  padding-inline-start: var(--x-spacing-loose1x);
  padding-inline-end: var(--x-spacing-loose1x);
}

.inlinePaddingExtraLoose {
  padding-inline-start: var(--x-spacing-loose4x);
  padding-inline-end: var(--x-spacing-loose4x);
}

.blockPaddingExtraTight {
  padding-block-start: var(--x-spacing-tight4x);
  padding-block-end: var(--x-spacing-tight4x);
}

.blockPaddingTight {
  padding-block-start: var(--x-spacing-tight1x);
  padding-block-end: var(--x-spacing-tight1x);
}

.blockPaddingBase {
  padding-block-start: var(--x-spacing-base);
  padding-block-end: var(--x-spacing-base);
}

.blockPaddingLoose {
  padding-block-start: var(--x-spacing-loose1x);
  padding-block-end: var(--x-spacing-loose1x);
}

.blockPaddingExtraLoose {
  padding-block-start: var(--x-spacing-loose4x);
  padding-block-end: var(--x-spacing-loose4x);
}
