.Text {
  font-size: var(--x-typography-size-default);
  text-transform: var(--x-global-typography-letter-case);
  letter-spacing: var(--x-global-typography-kerning);
}

.subdued {
  color: var(
    --x-default-color-text-subdued,
    var(--x-default-color-text, inherit)
  );
}

.emphasized {
  --this-font-weight: var(--x-typography-primary-weight-bold);
  font-weight: var(--this-font-weight);
  color: var(
    --x-default-color-text-emphasized,
    var(--x-default-color-text, inherit)
  );
}

.appearanceAccent {
  color: var(--x-default-color-accent);
}

.appearanceSuccess {
  color: var(--x-color-success-accent);
}

.appearanceWarning {
  color: var(--x-color-warning-accent);
}

.appearanceCritical {
  color: var(--x-color-critical-accent);
}

.sizeExtraSmall {
  --this-font-size: var(--x-typography-size-extra-small);
  font-size: var(--this-font-size);
}

.sizeSmall {
  --this-font-size: var(--x-typography-size-small);
  font-size: var(--this-font-size);
}

.sizeBase {
  --this-font-size: var(--x-typography-size-default);
  font-size: var(--this-font-size);
}

.sizeMedium {
  --this-font-size: var(--x-typography-size-medium);
  font-size: var(--this-font-size);
}

.sizeLarge {
  --this-font-size: var(--x-typography-size-large);
  font-size: var(--this-font-size);
}

.sizeExtraLarge {
  --this-font-size: var(--x-typography-size-extra-large);
  font-size: var(--this-font-size);
}

.Abbr {
  font-variant: none;
  text-decoration: none;
}
