.spacingBase > * + * {
  margin-top: var(--x-spacing-base);
}

.spacingNone > * + * {
  margin-top: 0;
}

.spacingTight > * + * {
  margin-top: var(--x-spacing-tight2x);
}

.spacingLoose > * + * {
  margin-top: var(--x-spacing-loose2x);
}

.alignmentLeading {
  text-align: start;
}

.alignmentCenter {
  text-align: center;
}

.alignmentTrailing {
  text-align: end;
}
