.Wrapper {
  --selector-width: em(40px);
  position: relative;
}

.Label {
  transition: top var(--x-duration-base) var(--x-timing-base);
}

.Label-positionInside {
  position: absolute;
  pointer-events: none;
  inset-block-start: em(5.6px);
  inset-inline-start: em(12px);
  user-select: none;
  max-width: calc(100% - em(26px) - var(--selector-width, em(40px)));

  &.Label-onBackgroundSurfacePrimary {
    --x-default-color-text-subdued: var(--x-color-surface-primary-text-subdued);
  }

  &.Label-onBackgroundSurfaceSecondary {
    --x-default-color-text-subdued: var(
      --x-color-surface-secondary-text-subdued
    );
  }

  &.Label-onBackgroundSurfaceTertiary {
    --x-default-color-text-subdued: var(
      --x-color-surface-tertiary-text-subdued
    );
  }
}

.Label-positionOutside {
  display: block;
  margin-block-end: var(--x-spacing-tight4x);
}

.Label-isPlaceholder {
  inset-block-start: em(15px);
}

.Select {
  -webkit-tap-highlight-color: transparent;
  border: 0 transparent solid;
  border-radius: var(
    --x-select-border-radius,
    var(--x-control-border-radius, var(--x-global-border-radius))
  );
  font-size: var(--x-typography-size-default);
  line-height: inherit;
  outline: none;
  padding-block: em(19px) em(4px);
  padding-inline: em(12px) var(--selector-width, em(40px));
  min-height: em(44px);
  transition: box-shadow var(--x-duration-base) var(--x-timing-base),
    border var(--x-duration-base) var(--x-timing-base);
  text-transform: var(--x-global-typography-letter-case);
  letter-spacing: var(--x-global-typography-kerning);
  width: 100%;
  white-space: nowrap;

  &::-ms-expand {
    display: none;
  }

  &:-moz-focusring {
    color: transparent;
    text-shadow: 0 0 0 var(--moz-focusring-color);
  }

  /* Browser hack to remove extra spacing around text in Firefox. Sorry!
   * This hack targets all the Firefox version we support: 24+
   * Source: http://browserhacks.com/#hack-8e9b5504d9fda44ec75169381b3c3157
   */
  @supports (-moz-appearance: meterbar) {
    text-indent: -2px;
  }
}

.Select-labelOutside {
  padding-block-start: em(11px);
  padding-block-end: em(12px);
}

.Select-labelInline {
  min-height: auto;
  padding-block-start: 0;
  padding-block-end: 0;
}

.Select-backgroundTransparent {
  --moz-focusring-color: var(--x-default-color-text-emphasized);
  background-color: transparent;
}

.Select-backgroundSurfacePrimary {
  --moz-focusring-color: var(--x-color-surface-primary-text-emphasized);
  --x-default-color-accent: var(--x-color-surface-primary-accent);
  color: var(--x-color-surface-primary-text-emphasized);
  background-color: var(--x-color-surface-primary);

  & + .Selector {
    border-color: var(--x-color-surface-primary-border);
    color: var(--x-color-surface-primary-text-subdued);
  }

  /* stylelint-disable-next-line selector-max-class */
  & + .Selector.Selector-borderColorEmphasized {
    border-color: var(--x-color-surface-primary-border-emphasized);
  }
}

.Select-backgroundSurfaceSecondary {
  --moz-focusring-color: var(--x-color-surface-secondary-text-emphasized);
  --x-default-color-accent: var(--x-color-surface-secondary-accent);
  color: var(--x-color-surface-secondary-text-emphasized);
  background-color: var(--x-color-surface-secondary);

  & + .Selector {
    border-color: var(--x-color-surface-secondary-border);
    color: var(--x-color-surface-secondary-text-subdued);
  }

  /* stylelint-disable-next-line selector-max-class */
  & + .Selector.Selector-borderColorEmphasized {
    border-color: var(--x-color-surface-secondary-border-emphasized);
  }
}

.Select-backgroundSurfaceTertiary {
  --moz-focusring-color: var(--x-color-surface-tertiary-text-emphasized);
  --x-default-color-accent: var(--x-color-surface-tertiary-accent);
  color: var(--x-color-surface-tertiary-text-emphasized);
  background-color: var(--x-color-surface-tertiary);

  & + .Selector {
    border-color: var(--x-color-surface-tertiary-border);
    color: var(--x-color-surface-tertiary-text-subdued);
  }

  /* stylelint-disable-next-line selector-max-class */
  & + .Selector.Selector-borderColorEmphasized {
    border-color: var(--x-color-surface-tertiary-border-emphasized);
  }
}

.Select-borderNone {
  &.Select-focusBorderFull {
    &:focus {
      box-shadow: 0 0 0 2px var(--x-color-interactive-text);
    }

    /* stylelint-disable selector-max-class, selector-max-specificity */
    &.hasError {
      &,
      &:focus {
        box-shadow: 0 0 0 2px var(--x-color-critical-accent);
      }
    }
    /* stylelint-enable selector-max-class, selector-max-specificity */
  }

  &.Select-focusBorderBlockEnd {
    &:focus {
      box-shadow: 0 2px 0 0 var(--x-color-interactive-text);
    }

    /* stylelint-disable selector-max-class, selector-max-specificity */
    &.hasError {
      &,
      &:focus {
        box-shadow: 0 2px 0 0 var(--x-color-critical-accent);
      }
    }
    /* stylelint-enable selector-max-class, selector-max-specificity */
  }
}

.Select-borderFull {
  border-width: 1px;
  border-color: var(--x-default-color-border);
  padding-inline-start: em(11px);

  &.Select-focusBorderFull {
    &:focus {
      border-color: var(--x-color-interactive-text);
      box-shadow: 0 0 0 1px var(--x-color-interactive-text);
    }

    /* stylelint-disable selector-max-class, selector-max-specificity */
    &.hasError {
      &,
      &:focus {
        border-color: var(--x-color-critical-accent);
        box-shadow: 0 0 0 1px var(--x-color-critical-accent);
      }
    }
    /* stylelint-enable selector-max-class, selector-max-specificity */
  }

  &.Select-focusBorderBlockEnd {
    &:focus {
      border-bottom-color: var(--x-color-interactive-text);
      box-shadow: 0 1px 0 0 var(--x-color-interactive-text);
    }

    /* stylelint-disable selector-max-class, selector-max-specificity */
    &.hasError {
      &,
      &:focus {
        border-bottom-color: var(--x-color-critical-accent);
        box-shadow: 0 1px 0 0 var(--x-color-critical-accent);
      }
    }
    /* stylelint-enable selector-max-class, selector-max-specificity */
  }
}

.Select-borderBlockEnd {
  border-width: 0 0 1px;
  border-color: var(--x-default-color-border);

  &.Select-focusBorderFull {
    &:focus {
      border-color: var(--x-color-interactive-text);
      box-shadow: 1px 0 0 1px var(--x-color-interactive-text),
        -1px 0 0 1px var(--x-color-interactive-text),
        1px -1px 0 1px var(--x-color-interactive-text),
        -1px -1px 0 1px var(--x-color-interactive-text);
    }

    /* stylelint-disable selector-max-class, selector-max-specificity */
    &.hasError {
      &,
      &:focus {
        border-color: var(--x-color-critical-accent);
        box-shadow: 1px 0 0 1px var(--x-color-critical-accent),
          -1px 0 0 1px var(--x-color-critical-accent),
          1px -1px 0 1px var(--x-color-critical-accent),
          -1px -1px 0 1px var(--x-color-critical-accent);
      }
    }
    /* stylelint-enable selector-max-class, selector-max-specificity */
  }

  &.Select-focusBorderBlockEnd {
    &:focus {
      border-color: var(--x-color-interactive-text);
      box-shadow: 0 1px 0 0 var(--x-color-interactive-text);
    }

    /* stylelint-disable selector-max-class, selector-max-specificity */
    &.hasError {
      &,
      &:focus {
        border-color: var(--x-color-critical-accent);
        box-shadow: 0 1px 0 0 var(--x-color-critical-accent);
      }
    }
    /* stylelint-enable selector-max-class, selector-max-specificity */
  }
}

.Select-borderColorEmphasized {
  border-color: var(--x-default-color-border-emphasized);
}

.Select-isDisabled {
  opacity: var(--x-opacity-disabled);

  & + .Selector {
    opacity: var(--x-opacity-disabled);
  }

  &.Select-backgroundSurfacePrimary {
    background-color: var(--x-color-surface-primary-disabled);
  }

  &.Select-backgroundSurfaceSecondary {
    background-color: var(--x-color-surface-secondary-disabled);
  }

  &.Select-backgroundSurfaceTertiary {
    background-color: var(--x-color-surface-tertiary-disabled);
  }
}

.Select-isReadOnly {
  opacity: var(--x-opacity-readonly);

  & + .Selector {
    opacity: var(--x-opacity-readonly);
  }

  &.Select-backgroundSurfacePrimary {
    background-color: var(--x-color-surface-primary-disabled);
  }

  &.Select-backgroundSurfaceSecondary {
    background-color: var(--x-color-surface-secondary-disabled);
  }

  &.Select-backgroundSurfaceTertiary {
    background-color: var(--x-color-surface-tertiary-disabled);
  }
}

.Selector {
  position: absolute;
  inset-block-start: 50%;
  inset-inline-end: 1px;
  display: flex;
  align-items: center;
  justify-content: center;
  pointer-events: none;
  width: var(--selector-width, em(40px));
  height: 43%;
  transform: translateY(-50%);
}

.Selector-separated {
  border-inline-start-width: rem(1px);
  border-inline-start-style: solid;
}

.Error-errorIndentationToText {
  padding: 0 em(12px);
}
