.Bookend {
  display: flex;

  & > * {
    flex-grow: 1;

    &:first-child {
      margin-inline-start: 0;
    }
  }
}

.alignmentLeading {
  align-items: flex-start;
}

.alignmentCenter {
  align-items: center;
}

.alignmentTrailing {
  align-items: flex-end;
}

.alignmentBaseline {
  align-items: baseline;
}

.spacingExtraTight > * {
  margin-inline-start: var(--x-spacing-tight4x);
}

.spacingTight > * {
  margin-inline-start: var(--x-spacing-tight1x);
}

.spacingBase > * {
  margin-inline-start: var(--x-spacing-base);
}

.spacingLoose > * {
  margin-inline-start: var(--x-spacing-loose1x);
}

.spacingExtraloose > * {
  margin-inline-start: var(--x-spacing-loose4x);
}

.trailing > *:last-child {
  flex-grow: 0;
  flex-shrink: 0;
}

.leading > *:first-child {
  flex-grow: 0;
  flex-shrink: 0;
}
