.Modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1001;
}

.Backdrop {
  width: 100%;
  height: 100%;
  background-color: hsla(211, 24.1%, 17.1%, 0.4);
}

.Content {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 90%;
  height: auto;
  max-width: rem(840px);
  max-height: 90%;
  border-radius: var(--x-border-radius-base);
  overflow: hidden;
  transform: translate(-50%, -50%);
  box-shadow: 0 5px 30px hsla(0, 0%, 0%, 0.2);
  background-color: hsl(0, 0%, 100%);

  /* temporary until we get proper color palettes customization for modals */
  --x-default-color-border: hsl(0, 0%, 85%);
  --x-default-color-border-emphasized: hsl(0, 0%, 58%);
  --x-default-color-text: hsl(0, 0%, 33%);
  --x-default-color-text-subdued: hsl(0, 0%, 45%);
  --x-default-color-text-emphasized: hsl(0, 0%, 20%);

  @media screen and (max-width: 1000px) {
    width: 100%;
    height: 100%;
    max-width: none;
    max-height: none;
    border-radius: 0;
  }
}

.Content-isLong {
  height: 90%;
  max-height: none;

  @media screen and (max-width: 1000px) {
    width: 100%;
    height: 100%;
  }
}

.Backdrop,
.Content {
  opacity: 0;
  transition: opacity var(--duration--slow) var(--timing--base);

  &.transitionEntered {
    opacity: 1;
  }
}

.IFrame {
  display: block;
  border: none;
  width: 100%;
  height: 100%;
}

.Header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: var(--x-spacing-base);
  border-block-end: 1px solid var(--x-default-color-border);

  @media screen and (max-width: 1000px) {
    padding: var(--x-spacing-base) var(--x-spacing-loose2x);
  }
}

.Body {
  padding: var(--x-spacing-base);

  @media screen and (max-width: 1000px) {
    padding: var(--x-spacing-loose2x);
  }
}

.Button {
  display: block;
  padding: var(--x-spacing-tight1x);

  /* Negative value */
  margin: calc(var(--x-spacing-tight1x) * -1);
}
