.Wrapper {
  display: grid;
  justify-content: start;
  align-items: start;

  /*
    We’d naturally use `gap: var(--x-spacing-tight1x)`, but Autoprefixer
    has an issue where it won’t transform both the grid and custom property
    syntax. This leaves custom properties in the fallback grid declaration,
    which causes it to be ignored. Once this issue is fixed:
    https://github.com/csstools/postcss-preset-env/issues/180
    we will be able to use the gap property as expected.
  */
  grid-template: 'control gap label' auto / auto var(--x-spacing-tight) auto;
}

.hasError {
  grid-template:
    'control gap label' auto
    'row-gap row-gap row-gap' var(--x-spacing-tight4x)
    'error error error' auto /
    auto var(--x-spacing-tight) auto;

  &.errorIndentationToText {
    grid-template:
      'control gap label' auto
      'row-gap row-gap row-gap' var(--x-spacing-tight1x)
      'error-gap error-gap error' auto /
      auto var(--x-spacing-tight) auto;
  }
}

.Checkbox {
  position: relative;
  margin-top: rem(1px);
  grid-area: control;
  width: var(--x-checkbox-size);
  height: var(--x-checkbox-size);
}

.Input {
  --input-border-color: var(--x-default-color-border);
  --input-border-radius: var(
    --x-checkbox-border-radius,
    var(--x-control-border-radius, var(--x-global-border-radius))
  );
  background-clip: padding-box;
  border: 1px transparent solid;
  border-radius: var(--input-border-radius);
  box-sizing: content-box;
  cursor: pointer;
  display: block;
  width: 100%;
  height: 100%;
  box-shadow: 0 0 0 1px var(--input-border-color) inset;
  transition: box-shadow var(--x-duration-fast) var(--x-timing-ease-out),
    border var(--x-duration-fast) var(--x-timing-ease-out);

  &::before {
    content: '';
    display: block;
    border-radius: calc(var(--input-border-radius) / 2);
    width: 100%;
    height: 100%;
    pointer-events: none;
    box-shadow: 0 0 0 0 var(--x-color-interactive-text) inset,
      0 0 0 0 var(--x-color-interactive-text);
    opacity: 0.3;
    transition: box-shadow var(--x-duration-fast) var(--x-timing-ease-out);
  }

  &:focus,
  &:active {
    box-shadow: 0 0 0 rem(1px) var(--x-color-interactive-text) inset;
    outline: none;

    &::before {
      box-shadow: 0 0 0 rem(1px) var(--x-color-interactive-text) inset,
        0 0 0 rem(3px) var(--x-color-interactive-text);
    }

    /* stylelint-disable-next-line selector-max-specificity */
    &:not(:focus-visible)::before {
      box-shadow: none;
    }
  }

  &:focus-visible::before {
    box-shadow: 0 0 0 rem(1px) var(--x-color-interactive-text) inset,
      0 0 0 rem(3px) var(--x-color-interactive-text);
  }

  &:checked {
    box-shadow: 0 0 0 em(10px) var(--x-color-interactive-text) inset;

    & + .Icon {
      opacity: 1;
    }
  }

  &.Input-hasError:not(:checked) {
    box-shadow: 0 0 0 em(2px) var(--x-color-critical-accent) inset;

    /* stylelint-disable selector-max-specificity */
    &:focus::before,
    &:active::before {
      box-shadow: 0 0 0 em(1px) var(--x-color-critical-accent) inset,
        0 0 0 em(3px) var(--x-color-critical-accent);
    }
    /* stylelint-enable selector-max-specificity */
  }
}

.Input-backgroundTransparent {
  background-color: transparent;
}

.Input-backgroundSurfacePrimary {
  --x-default-color-accent: var(--x-color-surface-secondary-accent);
  background-color: var(--x-color-surface-primary);
}

.Input-backgroundSurfaceSecondary {
  --x-default-color-accent: var(--x-color-surface-secondary-accent);
  background-color: var(--x-color-surface-secondary);
}

.Input-backgroundSurfaceTertiary {
  --x-default-color-accent: var(--x-color-surface-tertiary-accent);
  background-color: var(--x-color-surface-tertiary);
}

.Input-borderColorEmphasized {
  --input-border-color: var(--x-default-color-border-emphasized);
}

.Input-isDisabled {
  opacity: var(--x-opacity-disabled);
  cursor: default;

  &::before {
    display: none;
  }

  &.Input-backgroundSurfacePrimary {
    background-color: var(--x-color-surface-primary-disabled);
  }

  &.Input-backgroundSurfaceSecondary {
    background-color: var(--x-color-surface-secondary-disabled);
  }

  &.Input-backgroundSurfaceTertiary {
    background-color: var(--x-color-surface-tertiary-disabled);
  }
}

.Label {
  display: block;
  max-width: 100%;
  cursor: pointer;
  grid-area: label;
}

.Label-isDisabled {
  cursor: default;
}

.Error {
  grid-area: error;
}

.Icon {
  color: var(--x-color-interactive-icon);
  pointer-events: none;
  opacity: 0;
  transform-origin: center;
  transform: translate(-50%, -50%);
  position: absolute;
  top: calc(50% + 1px);
  left: calc(50% + 1px);
  transition: all var(--x-duration-fast) var(--x-timing-base) 100ms;
}
