.ResourceList {
  --x-resource-list-border-style: solid;
  --x-resource-list-border-color: var(--x-default-color-border, transparent);
  display: flex;
  flex-direction: column;

  & > * + * {
    margin-block-start: var(--x-resource-list-block-gap, var(--x-spacing-base));
  }
}

.gapNone {
  --x-resource-list-block-gap: 0;
}

.gapTight {
  --x-resource-list-block-gap: var(--x-spacing-tight);
}

.borderStyleDotted {
  --x-resource-list-border-style: dotted;
}

.borderColorEmphasized {
  --x-resource-list-border-color: var(
    --x-default-color-border-emphasized,
    var(--x-default-color-border, transparent)
  );
}

.borderBlockEnd {
  padding-block-end: var(--x-spacing-loose1x);
  border-block-end: 1px var(--x-resource-list-border-style)
    var(--x-resource-list-border-color);
}

.borderAroundItems {
  & > * {
    border-block: 1px var(--x-resource-list-border-style)
      var(--x-resource-list-border-color);
  }

  &.gapNone > *:not(:last-child) {
    border-block-end: 0;
  }
}

.borderFull {
  border-radius: var(--x-global-border-radius);

  & > * {
    border: 1px var(--x-resource-list-border-style)
      var(--x-resource-list-border-color);

    &:first-child {
      border-top-left-radius: var(--x-global-border-radius);
      border-top-right-radius: var(--x-global-border-radius);
    }

    &:last-child {
      border-bottom-left-radius: var(--x-global-border-radius);
      border-bottom-right-radius: var(--x-global-border-radius);
    }
  }

  &.gapNone > *:not(:last-child) {
    border-block-end: 0;
  }
}

.ResourceListHeader {
  display: flex;
  align-items: center;
  width: 100%;
}

.ResourceListHeader-isHidden {
  border: 0;
  margin-block-start: 0;

  & + * {
    margin-block-start: 0;
  }

  @nest .borderFull > & {
    & + * {
      border-top-left-radius: var(--x-global-border-radius);
      border-top-right-radius: var(--x-global-border-radius);
    }
  }
}

.ResourceListHeaderContent {
  & + .ResourceListHeaderContent {
    padding-inline-start: var(--x-spacing-base);
  }
}

.ResourceListHeaderContent-isPrimary {
  flex-grow: 1;
}
