.Image {
  max-width: 100%;
  display: block;
}

.aspectRatio {
  position: relative;

  & .Image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

@supports (object-fit: cover) {
  .fitContain {
    object-fit: contain;
  }

  .fitCover {
    object-fit: cover;
  }
}
