.Banner {
  position: relative;
  border-radius: var(--x-banner-border-radius, var(--x-global-border-radius));
  border-width: var(--x-banner-border, var(--x-border-full));
  border-style: solid;
  padding: var(--x-spacing-loose);
}

.Icon {
  margin: em(-3.5px) 0;
  max-width: em(24px);
  max-height: em(24px);
}

.statusInfo {
  --x-default-color-border: var(--x-color-info-border);
  --x-default-color-border-emphasized: var(--x-color-info-border-emphasized);
  --x-default-color-text: var(--x-color-info-text);
  --x-default-color-text-subdued: var(--x-color-info-text-subdued);
  --x-default-color-text-emphasized: var(--x-color-info-text-emphasized);
  color: var(--x-color-info-text);
  background-color: var(--x-color-info);
  border-color: var(--x-color-info-border);

  & .Icon {
    color: var(--x-color-info-accent);
  }
}

.statusSuccess {
  --x-default-color-border: var(--x-color-success-border);
  --x-default-color-border-emphasized: var(--x-color-success-border-emphasized);
  --x-default-color-text: var(--x-color-success-text);
  --x-default-color-text-subdued: var(--x-color-success-text-subdued);
  --x-default-color-text-emphasized: var(--x-color-success-text-emphasized);
  color: var(--x-color-success-text);
  background-color: var(--x-color-success);
  border-color: var(--x-color-success-border);

  & .Icon {
    color: var(--x-color-success-accent);
  }
}

.statusWarning {
  --x-default-color-border: var(--x-color-warning-border);
  --x-default-color-border-emphasized: var(--x-color-warning-border-emphasized);
  --x-default-color-text: var(--x-color-warning-text);
  --x-default-color-text-subdued: var(--x-color-warning-text-subdued);
  --x-default-color-text-emphasized: var(--x-color-warning-text-emphasized);
  color: var(--x-color-warning-text);
  background-color: var(--x-color-warning);
  border-color: var(--x-color-warning-border);

  & .Icon {
    color: var(--x-color-warning-accent);
  }
}

.statusCritical {
  --x-default-color-border: var(--x-color-critical-border);
  --x-default-color-border-emphasized: var(
    --x-color-critical-border-emphasized
  );
  --x-default-color-text: var(--x-color-critical-text);
  --x-default-color-text-subdued: var(--x-color-critical-text-subdued);
  --x-default-color-text-emphasized: var(--x-color-critical-text-emphasized);
  color: var(--x-color-critical-text);
  background-color: var(--x-color-critical);
  border-color: var(--x-color-critical-border);

  & .Icon {
    color: var(--x-color-critical-accent);
  }
}

.Button {
  -webkit-tap-highlight-color: transparent;
  padding: var(--x-spacing-tight);
  margin: calc(-1 * var(--x-spacing-tight));
  color: var(--banner-icon-color);
}
